doctype html
html
    head
        title Jade Project Kickstart
        script console.log('funciona!')
        link(rel="stylesheet", href="/assets/css/all.css")
    body
        h1 Funciona!
        #container
            p Agora vá em frente e faça algo realmente legal :D