doctype html
html
    head
        title Teste Jade + Livereload
        script console.log('funciona!')
        link(rel="stylesheet", href="/assets/css/all.css")
    body
        img(src="/assets/img/logo.png", alt="Logo")
        h1 Grunt é foda, né? ;)
        #container
            p Acho que funcionou legal :D